.vscode
.git
.husky

node_modules
dist

.dockerignore
.editorconfig
.env*
.eslintignore
.eslintrc.js
.gitignore
.lintstagedrc.json
*.log
.prettierrc.json

Dockerfile
docker-compose.yaml
jest.config.ts
