<html>
    <body>
        <div>
            <h1>Confirm your email</h1>
            <p>{{ name }}, you have sucessfully completed your register at SoccerStats, click the link below to confirm your email</p>
            <a href="{{ url }}">Confirm now</a>
        </div>
    </body>
</html>
