<html>
    <body>
        <div>
            <h1>Reset your password</h1>
            <p>{{ name }}, you have requested a password reset at SoccerStats, click the link below to perform it</p>
            <a href="frontend/reset-password?token={{ token }}&email={{ email }}">Reset password</a>
        </div>
    </body>
</html>
